body {
    margin: 10px 140px;
    background-color: rgb(245, 246, 238);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* 控制 h1 和按钮之间的间距 */
}

h1 {
    text-align: center;
    color: red;
    margin-right: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(10 * 100px);
    /* 每行10个div，假设每个宽度约为100px */
    padding: 0 5px;
}

.pokemon {
    display: inline-block;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.pokemon img {
    display: block;
}