<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
    <!-- 在form中，只能用get或post，所以要用patch需要下面這樣做 -->
    <!-- 也需要在git上下載:method-override -->
    <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
        <textarea name="comment" id="" cols="30" rows="10"><%= comment.comment %></textarea>
        <button>Save</button>
    </form>

</body>

</html>