<%- include('partials/head')%>


    <%- include('partials/navbar')%>
        <h1>The home page <%= 'hello world' .toUpperCase() %>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, esse quibusdam unde tempore non tempora.
            Voluptatem dolorum cum nam pariatur, illum soluta blanditiis, ex similique quia id obcaecati? Sed, fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero libero laboriosam odit cupiditate nihil nam
            accusantium enim, facilis quia neque veniam ipsum aliquam aperiam! Nostrum eius voluptates dicta dolore
            quisquam.</p>

        <%- include('partials/footer')%>