<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        My Site
    </title>
    <!-- 這邊使用public裡的css檔案，不需要給路徑:斜線public，只要斜線+css檔名稱的路徑即可 -->
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <!-- 注意要先script jquery再script bootstrap -->
    <script src="/JS/jquery-3.7.1.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
</head>
<!-- 把head複製到這邊來是讓每一個ejs檔案，都有我要應用的bootstrap -->

<body>