body {
    font-family: Roboto, Open Sans;
    /*主要字體,備用字體*/
}

main {
    width: 60%;
    margin: 0 auto;
}


h1 {
    font-weight: 100;
    /* font-size: 3rem;
    margin-bottom: 0; */
}

/*
h1+h2 {
    margin-top: 10px;
}

h1,
h2,
h3 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

*/